*{
	margin:0;
	padding:0;
}

body{
	background-color:#95a5a6;
	font-family: 'Roboto', sans-serif;
}
header{
	background-color:#95a5a6;
	color:white;
	height: 100px;
}

#wrapper h1{
	font:normal 60pt Roboto;
	color:#FFFFFF;
	text-shadow: 0 1px 0 #ccc,
 				0 2px 0 #c9c9c9,
 				0 3px 0 #bbb,
 				0 4px 0 #b9b9b9,
 				0 5px 0 #aaa,
 				0 6px 1px rgba(0,0,0,.1),
				0 0 5px rgba(0,0,0,.1),
				0 1px 3px rgba(0,0,0,.3),
				0 3px 5px rgba(0,0,0,.2),
				0 5px 10px rgba(0,0,0,.25),
				0 10px 10px rgba(0,0,0,.2),
				0 20px 20px rgba(0,0,0,.15);
				height: 100px;
				float:left;
				display: block;
	}

.logo{
	height: 100px;
	float:left;
	display: block;
	
}

.logo2{
	height: 150px;
	display: block;
	margin:auto;
}
.header-tit{
	width: 48%;
	float:left;
	display: block;
}
.regist{
	padding-top: 3px;
	padding-right: 3px;
	background-color:#95a5a6;
	width:50%;
	text-align: right;
	float: left;
	color:white;
	text-decoration: none;
	color:white;
	font-variant: small-caps;
	margin-top:3%;
}


.regist input[type=text] {
	margin-left: 0.5em;
	font-variant: small-caps;

}
.bEntra{
		font-variant: small-caps;
		color:#FFF;
		background-color: #000;


}
#hello{
	display: inline-block;
}
.registre{
	padding-top: 3px;
	padding-right: 3px;
	background-color:#95a5a6;
	width:80%;
	margin:auto;
	color: black;
}

/* Estilo por defecto */
 
input:valid {
 
border: 3px solid green;
 
}

.registre > #no{border:none;}


footer{
	margin:3px;
	padding: 3px;
	float:none;
	text-align: center;
	height: 150px;

	background-color:#95a5a6;
}

#menu{
	display: flex;
	width: 100%;
	flex-direction:row;
	background-color: #ecf0f1;
	height: 50px;
	line-height: 50px;
}

#menu > div {
	display: inline-flex;
	flex:1;
}

a{
	text-decoration: none;
	color: black;
}

#contenedor{
	display: flex;
	width: 100%;
	flex-direction:row;
}

#contenedor > div {
	display: inline-flex;
	flex:2;
	text-align: justify;
	margin-left: 1%;
	margin-right: 1%;
}

h2{
	margin-left: 1%;
}

#contenedor > #columnas {
flex-direction:column;
}
.espacio{
	margin-top:2%;
	margin-bottom: 2%;
}

.espacio2{
	margin-top:5%;
}

#mimapa{
	width:400px;
	height:400px;
margin: auto;
margin-bottom: 5%;}

#cajabusqueda{
	margin-left:43%;
	margin-top:2%;
	margin-bottom: 5%;
}

#textoo{
	
	margin-top:5%;margin-left: 42%;
}